@model HomeViewModel 
@{
    ViewData["Title"] = "Trang chủ";
}

<main class="main home">
    <div class="container">
        <div class="row row-sm">
            <div class="col-lg-9">
                <div class="home-slider owl-carousel owl-theme" data-toggle="owl" data-owl-options="{
                            'items' : 1,
                            'margin' : 0,
                            'nav' : true,
                            'dots' : false
                        }">
                    @foreach (var item in Model.Slides)
                    {
                        <div class="home-slide" style="background-image: url('@item.Image');">
                            <div class="slide-content">
                                <h2 class="text-right">@item.Name</h2>
                                <div class="skew-box-group">
                                    <span class="skew-box">Exclusive COUPON</span>
                                    <h3 class="sale-off skew-box"><span>$100</span>off</h3>
                                </div>
                                <a class="btn">View All Now</a>
                            </div>
                            <p>@item.Description</p>
                        </div>
                    }


                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-slider owl-carousel owl-theme" data-toggle="owl">
                    <div class="product-slide">
                        <h3>Flash Deals</h3>
                        <div class="product-default">
                            <figure>
                                <a href="product.html">
                                    <img src="/frontend/assets/images/products/product-deal.jpg">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2 class="product-title">
                                    <a href="product.html">1080p Wifi IP Camera</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div>
                        <div class="count-down-panel text-center">
                            <h4>
                                OFFER ENDS IN:
                                <span class="countdown" data-plugin-countdown="" data-plugin-options="{'date': '2020/01/01 00:00:00', 'numberClass': 'font-weight-extra-bold'}"><span class="days"><span class=" font-weight-extra-bold">237</span> DAY<div class="d-inline text-uppercase">s,</div></span> <span class="hours"><span class=" font-weight-extra-bold">20:</span> </span> <span class="minutes"><span class=" font-weight-extra-bold">26:</span> </span> <span class="seconds"><span class=" font-weight-extra-bold">06</span> </span> </span>
                            </h4>
                        </div>
                    </div>
                    <div class="product-slide">
                        <h3>Flash Deals</h3>
                        <div class="product-default">
                            <figure>
                                <a href="product.html">
                                    <img src="/frontend/assets/images/products/product-deal.jpg">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2 class="product-title">
                                    <a href="product.html">1080p Wifi IP Camera</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div>
                        <div class="count-down-panel">
                            <h4>
                                OFFER ENDS IN:
                                <span class="countdown" data-plugin-countdown="" data-plugin-options="{'date': '2020/12/31 00:00:00', 'numberClass': 'font-weight-extra-bold'}"><span class="days"><span class=" font-weight-extra-bold">237</span> DAY<div class="d-inline text-uppercase">s,</div></span> <span class="hours"><span class=" font-weight-extra-bold">20:</span> </span> <span class="minutes"><span class=" font-weight-extra-bold">26:</span> </span> <span class="seconds"><span class=" font-weight-extra-bold">06</span> </span> </span>
                            </h4>
                        </div>
                    </div>
                    <div class="product-slide">
                        <h3>Flash Deals</h3>
                        <div class="product-default">
                            <figure>
                                <a href="product.html">
                                    <img src="/frontend/assets/images/products/product-deal.jpg">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2 class="product-title">
                                    <a href="product.html">1080p Wifi IP Camera</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div>
                        <div class="count-down-panel">
                            <h4>
                                OFFER ENDS IN:
                                <span class="countdown" data-plugin-countdown="" data-plugin-options="{'date': '2020/12/31 00:00:00', 'numberClass': 'font-weight-extra-bold'}"><span class="days"><span class=" font-weight-extra-bold">237</span> DAY<div class="d-inline text-uppercase">s,</div></span> <span class="hours"><span class=" font-weight-extra-bold">20:</span> </span> <span class="minutes"><span class=" font-weight-extra-bold">26:</span> </span> <span class="seconds"><span class=" font-weight-extra-bold">06</span> </span> </span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="service-section mb-4">
            <div class="col-md-6 col-xl-3">
                <div class="service-widget">
                    <i class="service-icon icon-shipping"></i>
                    <div class="service-content">
                        <h3 class="service-title">free shipping & return</h3>
                        <p>Free shipping on all orders over $99.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="service-widget">
                    <i class="service-icon icon-money"></i>
                    <div class="service-content">
                        <h3 class="service-title">money back guarantee</h3>
                        <p>100% money back guarantee</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="service-widget">
                    <i class="service-icon icon-support"></i>
                    <div class="service-content">
                        <h3 class="service-title">online support 24/7</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="service-widget">
                    <i class="service-icon icon-secure-payment"></i>
                    <div class="service-content">
                        <h3 class="service-title">Secure Payment</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="product-panel">
            <div class="section-title">
                <h2>Sản phẩm xem nhiều nhất</h2>
            </div>

            <div class="owl-carousel owl-theme" data-toggle="owl" data-owl-options="{
                        'margin': 0,
                        'items': 2,
                        'autoplayTimeout': 5000,
                        'dots': false,
                        'nav': true,
                        'responsive': {
                            '576': {
                                'items': 3
                            },
                            '992': {
                                'items': 4
                            },
                            '1200': {
                                'items' : 5
                            }
                        }
                    }">
                @foreach (var item in Model.FeaturedProducts) { 
                    <div class="product-default inner-quickview inner-icon">
                        <figure>
                            <a href="product.html">
                                <img src="@item.ThumbnailImage">
                            </a>
                            <div class="label-group">
                                <span class="product-label label-cut">27% OFF</span>
                            </div>
                            <div class="btn-icon-group">
                                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                            </div>
                            <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
                        </figure>
                        <div class="product-details">
                            <div class="category-wrap">
                                <div class="category-list">
                                    <a href="category.html" class="product-category">Categories</a>
                                </div>
                                <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                            </div>
                            <h2 class="product-title">
                                <a href="product.html">@item.Name</a>
                            </h2>
                            <div class="ratings-container">
                                <div class="product-ratings">
                                    <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                    <span class="tooltiptext tooltip-top"></span>
                                </div><!-- End .product-ratings -->
                            </div><!-- End .product-container -->
                            <div class="price-box">
                                <span class="old-price">@item.Price.ToString() đ</span>
                                <span class="product-price">@item.OriginalPrice.ToString() đ</span>
                            </div><!-- End .price-box -->
                        </div><!-- End .product-details -->
                    </div>
                }
                
            </div>
        </section>

        <div class="row row-sm">
            <div class="col-lg-6">
                <div class="banner-product bg-grey" style="background-image: url('/frontend/assets/images/products/product-banner1.jpg');background-position : 50%;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-product bg-grey" style="background-image: url('/frontend/assets/images/products/product-banner2.jpg');
                            background-position : 48% 10%;">
                </div>
            </div>
        </div>

        <section class="product-category-panel mb-6">
            <div class="section-title">
                <h2>Top Categories</h2>
            </div>

            <div class="product-category-intro owl-carousel owl-theme text-center" data-toggle="owl" data-owl-options="{
                        'margin': 0,
                        'items': 2,
                        'autoplayTimeout': 5000,
                        'dots': false,
                        'nav': true,
                        'responsive': {
                            '480': {
                                'items': 3
                            },
                            '576': {
                                'items' : 4;
                            },
                            '768': {
                                'items': 5
                            },
                            '992': {
                                'items' : 6
                            },
                            '1200' : {
                                'items' : 7
                            }
                        }
                    }">
                <a href="category.html"><i class="icon-category-fashion"></i>Fashion</a>
                <a href="category.html"><i class="icon-category-electronics"></i>Electronics</a>
                <a href="category.html"><i class="icon-category-gifts"></i>Gifts</a>
                <a href="category.html"><i class="icon-category-garden"></i>Garden</a>
                <a href="category.html"><i class="icon-category-music"></i>Music</a>
                <a href="category.html"><i class="icon-category-motors"></i>Motors</a>
                <a href="category.html"><i class="icon-category-furniture"></i>Furniture</a>
            </div>
        </section>
    </div>

    <section class="bg-grey pt-3 pb-3">
        <div class="container">
            <section class="product-panel mt-5 mb-5">
                <div class="section-title mb-2">
                    <h2>Best Sellers on Electronics <a href="#">( View All )</a></h2>
                </div>

                <div class="grid margin-2">
                    <div class="grid-item height-x2 col-md-8 col-lg-9 col-xl-5col-2">
                        <div class="owl-carousel owl-theme" data-toggle="owl" data-owl-options="{
                                    'items' : 1,
                                    'margin' : 0,
                                    'nav' : true,
                                    'dots' : false
                                }">
                            <img src="/frontend/assets/images/products/product-1.jpg">
                            <img src="/frontend/assets/images/products/product-1.jpg">
                            <img src="/frontend/assets/images/products/product-1.jpg">
                        </div>
                    </div>
                    <div class="grid-item height-x1 col-md-4 col-6 col-lg-3 col-xl-5col">
                        <div class="product-default inner-quickview inner-icon">
                            <figure>
                                <a href="product.html">
                                    <img src="/frontend/assets/images/products/product-2.jpg">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div>
                    </div>
                    <div class="grid-item height-x1 col-md-4 col-6 col-lg-3 col-xl-5col">
                        <div class="product-default inner-quickview inner-icon">
                            <figure>
                                <a href="product.html">
                                    <img src="/frontend/assets/images/products/product-3.jpg">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div>
                    </div>
                    <div class="grid-item height-x1 col-md-3 col-6 col-lg-3 col-xl-5col">
                        <div class="product-default inner-quickview inner-icon">
                            <figure>
                                <a href="product.html">
                                    <img src="/frontend/assets/images/products/product-4.jpg">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div>
                    </div>
                    <div class="grid-item height-x1 col-md-3 col-6 col-lg-3 col-xl-5col">
                        <div class="product-default inner-quickview inner-icon">
                            <figure>
                                <a href="product.html">
                                    <img src="/frontend/assets/images/products/product-5.jpg">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div>
                    </div>
                    <div class="grid-item height-x1 col-md-3 col-6 col-lg-3 col-xl-5col">
                        <div class="product-default inner-quickview inner-icon">
                            <figure>
                                <a href="product.html">
                                    <img src="/frontend/assets/images/products/product-6.jpg">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div>
                    </div>
                    <div class="grid-item height-x1 col-md-3 col-6 col-lg-3 col-xl-5col">
                        <div class="product-default inner-quickview inner-icon">
                            <figure>
                                <a href="product.html">
                                    <img src="/frontend/assets/images/products/product-7.jpg">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <div class="container">
        <section class="product-panel mt-6">
            <div class="section-title">
                <h2>Recently Viewed Products</h2>
            </div>

            <div class="owl-carousel owl-theme" data-toggle="owl" data-owl-options="{
                        'margin': 0,
                        'items': 2,
                        'autoplayTimeout': 5000,
                        'dots': false,
                        'nav': true,
                        'responsive': {
                            '576': {
                                'items': 3
                            },
                            '975': {
                                'items': 4
                            },
                            '1200': {
                                'items' : 5
                            }
                        }
                    }">
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a href="product.html">
                            <img src="/frontend/assets/images/products/product-13.jpg">
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% OFF</span>
                        </div>
                        <div class="btn-icon-group">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                        </div>
                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="category.html" class="product-category">category</a>
                            </div>
                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                        </div>
                        <h2 class="product-title">
                            <a href="product.html">Product Short Name</a>
                        </h2>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price">$59.00</span>
                            <span class="product-price">$49.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a href="product.html">
                            <img src="/frontend/assets/images/products/product-12.jpg">
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% OFF</span>
                        </div>
                        <div class="btn-icon-group">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                        </div>
                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="category.html" class="product-category">category</a>
                            </div>
                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                        </div>
                        <h2 class="product-title">
                            <a href="product.html">Product Short Name</a>
                        </h2>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price">$59.00</span>
                            <span class="product-price">$49.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a href="product.html">
                            <img src="/frontend/assets/images/products/product-13.jpg">
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% OFF</span>
                        </div>
                        <div class="btn-icon-group">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                        </div>
                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="category.html" class="product-category">category</a>
                            </div>
                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                        </div>
                        <h2 class="product-title">
                            <a href="product.html">Product Short Name</a>
                        </h2>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price">$59.00</span>
                            <span class="product-price">$49.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a href="product.html">
                            <img src="/frontend/assets/images/products/product-14.jpg">
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% OFF</span>
                        </div>
                        <div class="btn-icon-group">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                        </div>
                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="category.html" class="product-category">category</a>
                            </div>
                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                        </div>
                        <h2 class="product-title">
                            <a href="product.html">Product Short Name</a>
                        </h2>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price">$59.00</span>
                            <span class="product-price">$49.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a href="product.html">
                            <img src="/frontend/assets/images/products/product-15.jpg">
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% OFF</span>
                        </div>
                        <div class="btn-icon-group">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                        </div>
                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="category.html" class="product-category">category</a>
                            </div>
                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                        </div>
                        <h2 class="product-title">
                            <a href="product.html">Product Short Name</a>
                        </h2>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price">$59.00</span>
                            <span class="product-price">$49.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a href="product.html">
                            <img src="/frontend/assets/images/products/product-16.jpg">
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% OFF</span>
                        </div>
                        <div class="btn-icon-group">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                        </div>
                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="category.html" class="product-category">category</a>
                            </div>
                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                        </div>
                        <h2 class="product-title">
                            <a href="product.html">Product Short Name</a>
                        </h2>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price">$59.00</span>
                            <span class="product-price">$49.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
            </div>
        </section>

        <div class="home-banner">
            <div class="image-container">
                <img src="/frontend/assets/images/banners/banner.jpg">
            </div>
            <div class="info-group">
                <div class="">
                    <p>check new arrivals</p>
                    <h2>Explore Smartphones</h2>
                </div>
                <div class="skew-box-group">
                    <span class="skew-box">Exclusive COUPON</span>
                    <h3 class="sale-off skew-box"><span>$200</span>off</h3>
                </div>
                <div class="">
                    <button class="btn">view all now</button>
                </div>
            </div>
        </div>

        <section class="detailed-category mt-5 mb-5">
            <div class="section-title mb-0 no-border">
                <h2>Electronics <a href="#">( View All )</a></h2>
            </div>

            <div class="grid">
                <div class="col-5 col-lg-2 height-x2 grid-item">
                    <div class="category-lists">
                        <a href="category.html">Digital Microscope</a>
                        <a href="category.html">3D Printer Kit</a>
                        <a href="category.html">IP Camera</a>
                        <a href="category.html">TV Box</a>
                        <a href="category.html">Arduino Compatible Boards</a>
                        <a href="category.html">Power Tools</a>
                        <a href="category.html">Raspberry Pi 3</a>
                        <a href="category.html">Digital Multimeter</a>
                        <a href="category.html">Power Tool Parts</a>
                        <a href="category.html">Woodworking Tools</a>
                        <a href="category.html">Smart Light Bulbs</a>
                        <a href="category.html">Soldering Iron</a>
                    </div>
                </div>
                <div class="col-7 col-lg-3 height-x2 grid-item">
                    <div class="owl-carousel owl-theme" data-toggle="owl" data-owl-options="{
                                'items' : 1,
                                'margin' : 0,
                                'nav' : false,
                                'dots' : false
                            }">
                        <div class="home-slide" style="background-image: url('/frontend/assets/images/slider/home_slide3.jpg');">
                            <div class="slide-content">
                                <h2 class="text-center">electronic<br>deals</h2>
                                <div class="skew-box-group">
                                    <span class="skew-box">Exclusive COUPON</span>
                                    <h3 class="sale-off skew-box"><span>$100</span>off</h3>
                                </div>
                                <button class="btn">View All Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-4-big height-x1 grid-item">
                    <div class="product-default inner-quickview inner-icon">
                        <figure>
                            <a href="product.html">
                                <img src="/frontend/assets/images/products/product-21.jpg">
                            </a>
                        </figure>
                        <div class="product-details">
                            <h2 class="product-title">
                                <a href="product.html">Product Short Name</a>
                            </h2>
                            <div class="price-box">
                                <span class="old-price">$59.00</span>
                                <span class="product-price">$49.00</span>
                            </div><!-- End .price-box -->
                        </div><!-- End .product-details -->
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2-big height-x2 grid-item">
                    <div class="product-default inner-quickview inner-icon">
                        <figure>
                            <a href="product.html">
                                <img src="/frontend/assets/images/products/product-9.jpg">
                            </a>
                        </figure>
                        <div class="product-details">
                            <h2 class="product-title">
                                <a href="product.html">Product Short Name</a>
                            </h2>
                            <div class="price-box">
                                <span class="old-price">$59.00</span>
                                <span class="product-price">$49.00</span>
                            </div><!-- End .price-box -->
                        </div><!-- End .product-details -->
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2-big height-x1 grid-item">
                    <div class="product-default inner-quickview inner-icon">
                        <figure>
                            <a href="product.html">
                                <img src="/frontend/assets/images/products/product-5.jpg">
                            </a>
                        </figure>
                        <div class="product-details">
                            <h2 class="product-title">
                                <a href="product.html">Product Short Name</a>
                            </h2>
                            <div class="price-box">
                                <span class="old-price">$59.00</span>
                                <span class="product-price">$49.00</span>
                            </div><!-- End .price-box -->
                        </div><!-- End .product-details -->
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2-big height-x1 grid-item">
                    <div class="product-default inner-quickview inner-icon">
                        <figure>
                            <a href="product.html">
                                <img src="/frontend/assets/images/products/product-6.jpg">
                            </a>
                        </figure>
                        <div class="product-details">
                            <h2 class="product-title">
                                <a href="product.html">Product Short Name</a>
                            </h2>
                            <div class="price-box">
                                <span class="old-price">$59.00</span>
                                <span class="product-price">$49.00</span>
                            </div><!-- End .price-box -->
                        </div><!-- End .product-details -->
                    </div>
                </div>
            </div>
        </section>

        <section class="detailed-category mt-5 mb-5">
            <div class="section-title mb-0 no-border">
                <h2>Mobile Phones & Accessories <a href="#">( View All )</a></h2>
            </div>

            <div class="grid">
                <div class="col-5 col-lg-2 height-x2 grid-item">
                    <div class="category-lists">
                        <a href="category.html">Type-c cable</a>
                        <a href="category.html">Oneplus 6</a>
                        <a href="category.html">Xiaomi Mi A2</a>
                        <a href="category.html">Xiaomi Mi Band 3</a>
                        <a href="category.html">Smart Watch</a>
                        <a href="category.html">Power Bank</a>
                        <a href="category.html">iPhone X Cases</a>
                        <a href="category.html">Nubia M2</a>
                        <a href="category.html">Xiaomi Redmi S2</a>
                        <a href="category.html">In-ear Headphones</a>
                        <a href="category.html">Xiaomi Mi8</a>
                        <a href="category.html">Xiaomi Mi8 SE</a>
                    </div>
                </div>
                <div class="col-7 col-lg-3 height-x2 grid-item">
                    <div class="owl-carousel owl-theme" data-toggle="owl" data-owl-options="{
                                'items' : 1,
                                'margin' : 0,
                                'nav' : false,
                                'dots' : false
                            }">
                        <div class="home-slide" style="background-image: url('/frontend/assets/images/slider/home_slide4.jpg');">
                            <div class="slide-content content-left">
                                <h2 class="text-center">Top brands <br>smartphones</h2>
                                <div class="skew-box-group">
                                    <span class="skew-box">STARTING FROM</span>
                                    <span class="skew-box">$199</span>
                                </div>
                                <button class="btn btn-primary">View All Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-4-big height-x1 grid-item">
                    <div class="product-default inner-quickview inner-icon">
                        <figure>
                            <a href="product.html">
                                <img src="/frontend/assets/images/products/product-22.jpg">
                            </a>
                        </figure>
                        <div class="product-details">
                            <h2 class="product-title">
                                <a href="product.html">Product Short Name</a>
                            </h2>
                            <div class="price-box">
                                <span class="old-price">$59.00</span>
                                <span class="product-price">$49.00</span>
                            </div><!-- End .price-box -->
                        </div><!-- End .product-details -->
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2-big height-x2 grid-item">
                    <div class="product-default inner-quickview inner-icon">
                        <figure>
                            <a href="product.html">
                                <img src="/frontend/assets/images/products/product-16.jpg">
                            </a>
                        </figure>
                        <div class="product-details">
                            <h2 class="product-title">
                                <a href="product.html">Product Short Name</a>
                            </h2>
                            <div class="price-box">
                                <span class="old-price">$59.00</span>
                                <span class="product-price">$49.00</span>
                            </div><!-- End .price-box -->
                        </div><!-- End .product-details -->
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2-big height-x1 grid-item">
                    <div class="product-default inner-quickview inner-icon">
                        <figure>
                            <a href="product.html">
                                <img src="/frontend/assets/images/products/product-12.jpg">
                            </a>
                        </figure>
                        <div class="product-details">
                            <h2 class="product-title">
                                <a href="product.html">Product Short Name</a>
                            </h2>
                            <div class="price-box">
                                <span class="old-price">$59.00</span>
                                <span class="product-price">$49.00</span>
                            </div><!-- End .price-box -->
                        </div><!-- End .product-details -->
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2-big height-x1 grid-item">
                    <div class="product-default inner-quickview inner-icon">
                        <figure>
                            <a href="product.html">
                                <img src="/frontend/assets/images/products/product-13.jpg">
                            </a>
                        </figure>
                        <div class="product-details">
                            <h2 class="product-title">
                                <a href="product.html">Product Short Name</a>
                            </h2>
                            <div class="price-box">
                                <span class="old-price">$59.00</span>
                                <span class="product-price">$49.00</span>
                            </div><!-- End .price-box -->
                        </div><!-- End .product-details -->
                    </div>
                </div>
            </div>
        </section>

        <section class="product-panel mt-6">
            <div class="section-title">
                <h2>Recommendations for You</h2>
            </div>

            <div class="owl-carousel owl-theme" data-toggle="owl" data-owl-options="{
                        'margin': 0,
                        'items': 2,
                        'autoplayTimeout': 5000,
                        'dots': false,
                        'nav': true,
                        'responsive': {
                            '559': {
                                'items': 3
                            },
                            '975': {
                                'items': 4
                            },
                            '1200': {
                                'items' : 5
                            }
                        }
                    }">
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a href="product.html">
                            <img src="/frontend/assets/images/products/product-7.jpg">
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% OFF</span>
                        </div>
                        <div class="btn-icon-group">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                        </div>
                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="category.html" class="product-category">category</a>
                            </div>
                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                        </div>
                        <h2 class="product-title">
                            <a href="product.html">Product Short Name</a>
                        </h2>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price">$59.00</span>
                            <span class="product-price">$49.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a href="product.html">
                            <img src="/frontend/assets/images/products/product-8.jpg">
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% OFF</span>
                        </div>
                        <div class="btn-icon-group">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                        </div>
                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="category.html" class="product-category">category</a>
                            </div>
                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                        </div>
                        <h2 class="product-title">
                            <a href="product.html">Product Short Name</a>
                        </h2>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price">$59.00</span>
                            <span class="product-price">$49.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a href="product.html">
                            <img src="/frontend/assets/images/products/product-9.jpg">
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% OFF</span>
                        </div>
                        <div class="btn-icon-group">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                        </div>
                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="category.html" class="product-category">category</a>
                            </div>
                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                        </div>
                        <h2 class="product-title">
                            <a href="product.html">Product Short Name</a>
                        </h2>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price">$59.00</span>
                            <span class="product-price">$49.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a href="product.html">
                            <img src="/frontend/assets/images/products/product-12.jpg">
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% OFF</span>
                        </div>
                        <div class="btn-icon-group">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                        </div>
                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="category.html" class="product-category">category</a>
                            </div>
                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                        </div>
                        <h2 class="product-title">
                            <a href="product.html">Product Short Name</a>
                        </h2>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price">$59.00</span>
                            <span class="product-price">$49.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a href="product.html">
                            <img src="/frontend/assets/images/products/product-17.jpg">
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% OFF</span>
                        </div>
                        <div class="btn-icon-group">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                        </div>
                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="category.html" class="product-category">category</a>
                            </div>
                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                        </div>
                        <h2 class="product-title">
                            <a href="product.html">Product Short Name</a>
                        </h2>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price">$59.00</span>
                            <span class="product-price">$49.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a href="product.html">
                            <img src="/frontend/assets/images/products/product-18.jpg">
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% OFF</span>
                        </div>
                        <div class="btn-icon-group">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                        </div>
                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="category.html" class="product-category">category</a>
                            </div>
                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                        </div>
                        <h2 class="product-title">
                            <a href="product.html">Product Short Name</a>
                        </h2>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price">$59.00</span>
                            <span class="product-price">$49.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
            </div>
        </section>
    </div>

    <section class="container mt-3 mb-7" id="topBrands">
        <div class="section-title mb-6">
            <h2>Top Brands</h2>
        </div>
        <div class="partners-carousel owl-carousel owl-theme text-center" data-toggle="owl" data-owl-options="{
                    'loop' : true,
                    'nav': false,
                    'dots': true,
                    'autoHeight': true,
                    'autoplay': true,
                    'autoplayTimeout': 5000,
                    'responsive': {
                      '0': {
                        'items': 2,
                        'margin': 0
                      },
                      '480': {
                        'items': 3
                      },
                      '768': {
                        'items': 4
                      },
                      '992': {
                        'items': 5
                      }
                    }
                }">
            <img src="/frontend/assets/images/logos/1.png" alt="logo">
            <img src="/frontend/assets/images/logos/2.png" alt="logo">
            <img src="/frontend/assets/images/logos/3.png" alt="logo">
            <img src="/frontend/assets/images/logos/4.png" alt="logo">
            <img src="/frontend/assets/images/logos/5.png" alt="logo">
        </div>
    </section>
</main><!-- End .main -->
